{
  "rules": {
    "no-console": "off",
    "no-unexpected-multiline": "off",
    "no-unused-vars": ["warn", { "ignoreRestSiblings": true }],
    "no-useless-escape": "off",
    "react/jsx-uses-react": 1,
    "react/display-name": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@next/next/no-img-element": "off"
  },
  "extends": "next"
}
